:root {
    --color: white;
}
body {
    background-color: var(--color);
  }
#theme {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #333;
    color: #fff;
    padding: 5px 10px;
}
#portfolio {
    position: fixed;
    top: 20px;
    right: 150px;
    background: #333;
    color: #fff;
    padding: 5px 10px;
}